<div class="container mt-4">
  <div class="col-12 offset-3">
    <div class="form-area">
      <h3>Log in</h3>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.input :email, autofocus: true, autocomplete: "email", label: "Email" %>

          <%= f.input :password, autocomplete: "current-password", label: "Password" %>

        <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-success" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>

  </div>
</div>
