<br>
<h1 align="center">Edit this Post</h1><hr>
<div class="container">
 <div class="row" >
  <div class=" col-md-offset-0 col-md-12 ">
   <%= render'posts/froala' %>
   <div class="col-md-12 col-md-offset-0 epost ">
    <div class="container ">
     <%= simple_form_for @post, url: updatepost_path(:id => @post.id), method: :post, html: {multipart: true} do |f| %>
      <h5 class ="pull-left"> Original Text: &nbsp; &nbsp;</h5> <br>
      <div class = "org_text"><p class = "center" ><%=  simple_format(@post.original_text)%></p></div><br>
      <h5 class ="pull-left"> Your Area: &nbsp; &nbsp;</h5> <br>
      <%= f.text_area :edited_text, columns: 9, rows: 6, class: "form-control" ,value: @post.original_text %><br>
      <div class="form-group">
       <div class="col-md-offset-5 col-md-12">
        <%= f.submit "Commit", class: "btn btn-primary btn-lg btn-xlg btnnew" %>
       </div>
      </div>
     </div>
    </div>
   </div>
  <%end%>
 </div>
</div>

