<div class="row">
	<div class="col-12 offset-1">
		<div class="form-area mt-4">
			<%= simple_form_for @tutor, url: tutor_path(id: current_user.id), method: :put, html: {multipart: true} do |f| %>
					<h3>Your Tutor Profile</h3>
					<%= f.input :full_name, label: 'Your Name', placeholder: 'Your Name' %>
					<%= f.input :username, placeholder: 'Username' %>
					<%= f.input :occupation, label: 'Your Occcupation', placeholder: 'Occupation' %>
					<%= f.input :city, placeholder: 'Select your city' %>
					<%= f.input :country, placeholder: 'Country', prompt: 'Select your country' %>
	                <%= f.input :qualification, placeholder: 'Your Education Background/Your Experience' %>
					<%= f.input :specialization, placeholder: 'For Example: Creative Writing, Engineering' %>
					<%= f.label :languages %>
					<%= f.association :languages, collection: @languages, label: false, prompt: 'Select Language', input_html: { class: "multiselect-search form-control", multipe: "multipe" } %>
					<label>Selected Languages</label>
					<div class="selected-languages p-2">
						<% f.object.languages.each do |language| %>
							<span class="label label-info mr-1" data-langaugeid="<%= language.id %>">
								<%= language.name %>
								<button class="remove-lang" aria-label="Close" type="button" data-langid="<%= language.id %>" >
									<span aria-hidden="true">×</span>
        				</button>
        			</span>
						<% end %>
					</div>
					<%= f.input :about_me, as: :text, input_html: {rows: 3}, placeholder: 'Tell us about yourself' %>
					<%= f.input :profile_pic, as: :file, label: "Your Profile Picture" %>
					<div class="action mb-4 float-right">
	        	<%= f.submit 'Update', class: 'btn btn-success' %>
	        </div>
			<% end %>
		</div>
	</div>
</div>
