<div class="row">
	<div class="col-12 offset-1">
		<div class="form-area mt-4">
			<%= simple_form_for @tutor, url: tutor_path(id: current_user.id), method: :put, html: {multipart: true} do |f| %>
					<h3>Your Tutor Profile</h3>
					<%= f.input :full_name, label: 'Your Name' %>
					<%= f.input :username %>
					<%= f.input :occupation, label: 'Your Occcupation' %>
					<%= f.input :city %>
					<%= f.input :country %>
	        <%= f.input :qualification %>
					<%= f.input :specialization %>
					<%= f.label :languages %>
					<%= f.association :languages, collection: @languages, include_blank: false, label: false, input_html: { class: "multiselect-search form-control", multipe: "multipe" } %>
					<%= f.input :about_me, as: :text, input_html: {rows: 3} %>
					<%= f.input :profile_pic, as: :file, label: "Your Profile Picture" %>
					<div class="action mb-4 float-right">
	        	<%= f.submit 'Update', class: 'btn btn-success' %>
	        </div>
			<% end %>
		</div>
	</div>
</div>
