<div class="container"><br>
 <h1 align="center"> Pending Posts</h1><hr>
 <div class="row">
  <div class = "well col-md-12 col-md-offset-6 ">
	 <% @posts.each do |post|%>
    <% if post.status == "Pending"%>
     <div class="container post">
      <div class = "pull-right post_status"><small>Post Status:</small><small style = "color: green;"><%= post.status%>  </small></div>
			<div class = "pull-left post_status"><small> Created at <%= post.created_at.strftime("%d/%m/%Y on %I:%M:%S")%></small></div><br>
			<div class = "org_text"><p class =" center original_text"><%= simple_format(post.original_text)%></p></div><br>
			<div class="row">
			  &nbsp;&nbsp;Category:<h4 class ="pull-left"style="color:#B1A7A7;"> &nbsp;<%= post.category.name%>
			  &nbsp;</h4>
			  Language:<h4 class ="pull-left"style="color:#B1A7A7;"> &nbsp;<%= post.language.name%></h4></div><br><br>
			<%post.tags.each do |pos|%>
			 <h5 class ="pull-left"  style="color:#B1A7A7;"> <%= pos.name%> &nbsp; &nbsp;</h5>
			<%end%><br>
			<div class="pull-right editpost" >
				<%= link_to "Edit", editpost_path(:id => post.id),:class => "buttonEdit" %>
			</div><br>
		 </div>
    <%end%>	
   <%end%>	
  </div> 
 </div> 
</div> 

