<div class="container">
<div class="row">
	<div class="col-12 offset-1">
		<div class="form-area mt-4">
			<%= simple_form_for @user, method: :put do |f| %>
				<h3>Account Settings</h3>
				<%= f.input :email, label: 'Email Address' %>
				<%= f.input :full_name, label: 'Name' %>
        <div class="password-area mt-2 mb-2">
	        <%= f.input :current_password %>
					<%= f.input :password, autocomplete: "new-password", label: "Password <em>(6 characters minimum)</em>".html_safe %>
	        <%= f.input :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="action mb-4">
        	<%= f.submit 'Update', class: 'btn btn-success' %>
        </div>
			<% end %>
		</div>
	</div>
</div>
</div>
