<div class="container">
<div class="row">
	<div class="col-12 offset-1">
		<div class="form-area mt-4">
			<%= simple_form_for @user, method: :put do |f| %>
				<h3>Account Settings</h3>
				<%= f.input :email, label: 'Email Address', placeholder: 'Email Address' %>
				<%= f.input :full_name, label: 'Name', placeholder: 'Full Name' %>
				<% if f.object.role == 1 %>
					<%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 100, end_year: Date.today.year %>
					<%= f.input :gender, collection: User.genders, include_blank: false, placeholder: 'Gender' %>
				<% end %>
        <div class="password-area mt-2 mb-2">
	        <%= f.input :current_password, placeholder: 'Current Password' %>
					<%= f.input :password, autocomplete: "new-password", label: "Password <em>(6 characters minimum)</em>".html_safe, placeholder: 'Password' %>
	        <%= f.input :password_confirmation, autocomplete: "new-password", placeholder: 'Password Confirmation' %>
        </div>

        <div class="action mb-4">
        	<%= f.submit 'Update', class: 'btn btn-success' %>
        </div>
			<% end %>
		</div>
	</div>
</div>
</div>
