<div class="col-4 p-5">
	<div class="card">
		<div class="text-center p-4 card-header">
			<h5 class="text-capitalize mt-2">
				<%= package.name %>
			</h5>
			$<h3 class="d-inline-block"><b><%= package.price %></b></h3>
		</div>
		<div class="card-area pl-3 pr-3">
			<p class="first-p">
				<span>
					<%= package.total_number_of_characters %>
				</span>
				<small>
					characters
				</small>
			</p>
			<hr/>
			<p>
				<span>
					<%= package.total_credits %>
				</span>
				<small>
					credits
				</small>
			</p>
			<hr/>
			<p>
				<span>
					<%= package.bonus %>
				</span>
				<small>
					free credits
				</small>
			</p>
		</div>
	</div>
</div>