<% @posts.each do |post|%>
<% if post.status == "Pending"%>
    <div class= "container post">
     <div class = "pull-right post_status"><small>Post Status:</small> <small style = "color: green;"><%= post.status%></small></div>
		 <div class = "pull-left post_status"><small> Created at <%= post.created_at.strftime("%d/%m/%Y on %I:%M:%S")%>    </small></div><br>
		 <div class = "org_text"><p class =" center original_text"><%= simple_format(post.original_text)%></p></div><br>
     <div class="row">
		  &nbsp;&nbsp;Category:<h4 class ="pull-left"style="color:#B1A7A7;"> &nbsp;<%= post.category.name%>
		  &nbsp;</h4>
		  Language:<h4 class ="pull-left"style="color:#B1A7A7;"> &nbsp;<%= post.language.name%></h4></div><br><br>
		  <div class="selected-tags ">
       <%post.tags.each do |pos|%>
        <span class="label label-info" >
          <%= pos.name %>
          <button class="remove-lang" type="button" >
          </button>
        </span>
       <% end %>
      </div><br><br>
    </div>
	      

	      
  <% elsif post.status == "Edited"%>




<div class= "container post">
			<div class = "pull-right post_status"><small>Post Status:</small> <small style = "color: #FFBA01;"><%= post.status%></small></div>
			<div class = "pull-left post_status"><small> Created at <%= post.created_at.strftime("%d/%m/%Y on %I:%M:%S")%>  </small></div><br>
			<div class = "org_text"><p class =" center original_text"><%= simple_format(post.original_text)%></p></div><br>
			<div class="row">
			&nbsp;&nbsp;Category:<h4 class ="pull-left"style="color:#B1A7A7;"> &nbsp;<%= post.category.name%>
				 &nbsp;</h4>
			Language:<h4 class ="pull-left"style="color:#B1A7A7;"> &nbsp;<%= post.language.name%></h4></div><br><br>
			<div class="selected-tags ">
       <%post.tags.each do |pos|%>
        <span class="label label-info" >
          <%= pos.name %>
          <button class="remove-lang" type="button" >
          </button>
        </span>
       <% end %>
      </div><br><br>




      <div class="tabs">
	<input name="tabs" type="radio" id="tab-1" checked="checked" class="input"/>
	<label for="tab-1" class="labelx">Edited text</label>
	<div class="panel">
			<div class = "org_text"><p class =" center original_text"><%= simple_format(post.edited_text)%></p></div>
	</div>

	<input name="tabs" type="radio" id="tab-2" class="input"/>
	<label for="tab-2" class="labelx">Edited text 2</label>
	<div class="panel">
			<div class = "org_text" style = "background-color: white;"><p class =" center original_text"><%= simple_format(post.edited_text)%></p></div>
	</div>
</div>



			
		<br>
			<div class = "pull-left post_status"><small>Edited at <%= post.updated_at.strftime("%d/%m/%Y on %I:%M:%S")%>   By 
			<% post.tutors.each do |tutor| %>
					<% if post.tutor_id == tutor.id %>
					 <%= tutor.full_name %>
				   <% end %>	
				 <% end %>
				</small></div><br>
			<div class="pull-right buttons">
			  <%= button_to 'Decline', {:controller => "posts", :action => "declineapp", :id => post.id},
			    {:class => "buttonDec"}%></div>
			<div class="pull-right buttons">
			  <%= button_to 'Accept', {:controller => "posts", :action => "acceptapp", :id => post.id},
			    {:class => "buttonAcc" }%></div><br>
    </div>






  <% elsif post.status == "SubmittedToAdmin"%>
		<div class= "container post">
			<div class = "pull-right post_status"><small>Post Status:</small> <small style = "color: #581845;">Submitted To Admin</small></div>
			<div class = "pull-left post_status"><small> Created at <%= post.created_at.strftime("%d/%m/%Y on %I:%M:%S")%> </small></div><br>
			<div class = "org_text"><p class =" center original_text"><%= simple_format(post.original_text)%></p></div><br>
			<div class="row">
			&nbsp;&nbsp;Category:<h4 class ="pull-left"style="color:#B1A7A7;"> &nbsp;<%= post.category.name%>
				  &nbsp;</h4>
			Language:<h4 class ="pull-left"style="color:#B1A7A7;"> &nbsp;<%= post.language.name%></h4></div><br><br>
			<div class="selected-tags ">
       <%post.tags.each do |pos|%>
        <span class="label label-info" >
          <%= pos.name %>
          <button class="remove-lang" type="button" >
          </button>
        </span>
       <% end %>
      </div><br><br>
			<h5 class ="pull-left"> Edited Text: &nbsp; &nbsp;</h5> <br>
			<div class = "org_text"><p class =" center original_text"><%= simple_format(post.edited_text)%></p></div><br>
			<div class = "pull-left post_status">
				<small>Edited at <%= post.updated_at.strftime("%d/%m/%Y on %I:%M:%S")%>
			  By 
				<% post.tutors.each do |tutor| %>
					<% if post.tutor_id == tutor.id %>
					 <%= tutor.full_name %>
				   <% end %>	
				 <% end %>
			</small>
			</div>
			<br>
			
		</div>
		<br>
		<br>
  <%end%>
<%end%>
<div class = "centera">
<%= will_paginate @posts %>
</div>
