<% @posts.each do |post|%>
		<div class = "well col-md-12 "> 
 		<% if post.status == "Closed"%>
  		<div class ="container post">
   			<div class = "pull-right post_status"><small>Post Status:</small>
    			<small style = "color: red;"><%= post.status %> </small></div>
	 			<div class = "pull-left post_status"><small> Created <%= post.created_at.strftime("%d/%m/%Y on %I:%M:%S")%></small></div><br>
	 			<div class = "org_text"><p class =" center original_text"><%= simple_format(post.original_text)%></p></div><br>
   			<div class="row">
	  			&nbsp;&nbsp;Category:<h4 class ="pull-left"style="color:#B1A7A7;"> &nbsp;<%= post.category.name%>&nbsp;</h4>
	  			Language:<h4 class ="pull-left"style="color:#B1A7A7;"> &nbsp;<%= post.language.name%></h4></div><br><br>
	  		<div class="selected-tags ">
       <%post.tags.each do |pos|%>
        <span class="label label-info" >
          <%= pos.name %>
          <button class="remove-lang" type="button" >
          </button>
        </span>
       <% end %>
      </div><br><br>
	  		<h5 class ="pull-left"> Edited Text: &nbsp; &nbsp;</h5> <br>
    		<div class = "org_text"><p class =" center original_text"><%= simple_format(post.edited_text)%></p></div>
    		<div class = "pull-left post_status"><small>Edited <%= post.updated_at.strftime("%d/%m/%Y on %I:%M:%S")%>. By 
		  	<% post.tutors.each do |tutor| %>
					<% if post.tutor_id == tutor.id %>
					 <%= tutor.full_name %>
				   <% end %>	
				 <% end %>
		  	</small></div><br> 
		  	<div class = "pull-left post_status">
				<small>Points Deducted</small><small style ="color:red;"> 
				<% post.credits.each do |credit| %>
					<%= credit.total_credits %>
				<% end %>
			</small>
			</div><br>
  		</div>
    <%end%>
  </div>
  <%end%>



<div class = "centera">
 <%= will_paginate @posts %>
</div>