 <br>
<h1 align="center"> Active Posts</h1>
<hr>
<div class ="container">
  <div class="row">
	 <div class = "well col-md-10 col-md-offset-6 ">
	  <% @posts.each do |post|%>
	   <% if post.student_id == current_user.id%>
	    <% if post.status == "Pending"%>
	     <div class= "container post">
          <div class = "pull-right post_status"><small>Post Status:</small> <small style = "color: green;"><%= post.status%></small></div>
			  <div class = "pull-left post_status"><small> Created <%= time_ago_in_words(post.created_at)%> ago. </small></div><br>
			  <div class = "org_text"><p class =" center original_text"><%= simple_format(post.original_text)%></p></div>
	         <br>
	         <div class="row">
			   <small>&nbsp;&nbsp;Category:</small><h4 class ="pull-left"style="color:#B1A7A7;"> &nbsp;<%= post.category.name%>
			   	&nbsp;</h4>
			   <small>Language:</small><h4 class ="pull-left"style="color:#B1A7A7;"> &nbsp;<%= post.language.name%></h4></div><br><br>
			  <% post.tags.each do |pos|%>
			    <h5 class ="pull-left"  style="color:#B1A7A7;"> <%= pos.name%> &nbsp; &nbsp;</h5>
			  <%end%><br><hr>
	     </div>
	      
	     <% else if post.status == "Edited"%>
         <div class= "container post">

			   <div class = "pull-right post_status"><small>Post Status:</small> <small style = "color: #FFBA01;"><%= post.status%></small></div>
			   <div class = "pull-left post_status"><small> Created <%= time_ago_in_words(post.created_at)%> ago. ||&nbsp;</small></div>
			   <div class = "pull-left post_status"><small>Edited <%= time_ago_in_words(post.updated_at)%> ago. By <%= post.tutor.full_name%></small></div><br>
				  <div class = "org_text"><p class =" center original_text"><%= simple_format(post.original_text)%></p></div><br>
		      <h5 class ="pull-left"> Edited Text: &nbsp; &nbsp;</h5> <br>
		      <div class = "org_text"><p class =" center original_text"><%= simple_format(post.edited_text)%></p></div>
				  <div class="row">
			   <small>&nbsp;&nbsp;Category:</small><h4 class ="pull-left"style="color:#B1A7A7;"> &nbsp;<%= post.category.name%>
			   	&nbsp;</h4>
			   <small>Language:</small><h4 class ="pull-left"style="color:#B1A7A7;"> &nbsp;<%= post.language.name%></h4></div><br><br>
				  <% post.tags.each do |pos|%>
				   <h5 class ="pull-left" style="color:#B1A7A7;"> <%= pos.name%> &nbsp; &nbsp;</h5>
				  <%end%><br><hr>
				  <% if post.application == true%>
				    <div class="pull-right buttons">
		          <%= button_to 'Decline', {:controller => "posts", :action => "declineapp", :id => post.id},
		          {:class => "buttonDec"}%></div>
				    <div class="pull-right buttons">
		          <%= button_to 'Accept', {:controller => "posts", :action => "acceptapp", :id => post.id},
		          {:class => "buttonAcc" }%></div><br>
		      <% else if post.application == false%>
	           <div class="app" style="padding:5px; color:#18C1C9" align="center" ><h5>Application Submitted to Admin</h5></div> 
	           <%end%>
	           <%end%>
            <%end%>
	       </div> 
	   <%end%>
      <%end%>	
     <%end%>

	</div> 
 </div></div>
