<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
    	<li class="nav-item">
	    	<%= link_to 'Language Doctors', root_path, class: "nav-link" %>
	    </li>
	  </ul>
	</div>
	<% if user_signed_in? %>
	  <ul class="nav navbar-nav pull-right">
			<li class="nav-item ml-2 mr-2 dashed-border img-circle avatartop">
        <%= image_tag current_user.profile_pic, class: 'img-fluid' %>
			</li>
			<li class="nav-item">
				<%= link_to 'Logout', destroy_user_session_path, class: "nav-link" %>
			</li>
		</ul>
		<div class="credits-info">
			<% if current_user.role == 0 %>
			
      <% @credits = current_user.packages.sum(:total_credits) %>
      <% @credits += current_user.packages.sum(:bonus) %>
     
			<% credit =  @credits - current_user.used_credits.sum(:total_credits) %>
			<span>Hello <%= current_user.username %>! you have <%= credit  %> credits.</span>
				<%= link_to 'Buy Credits', credits_path, class: 'btn btn-sm btn-info' %>
						<% end %>
			<% if current_user.super_admin%>
			<span>Hello <%= current_user.username %>! you have <%= current_user.admin_credits.sum(:total_credits) %> credits.</span>
			<% end %>
			<% if current_user.role == 1 %>
			<span>Hello <%= current_user.username %>! you have earned <%= current_user.availed_credits.sum(:total_credits) %> credits.</span>
			<% end %>
		</div>
	<% else   %>
		<ul class="nav navbar-nav pull-right">
			<li>
				<%= link_to 'Login', new_user_session_path, class: 'btn btn-sm btn-primary' %>
			</li>
			<li>
				<%= link_to 'Register', new_user_registration_path, class: 'btn btn-sm btn-primary ml-1' %>
			</li>
	  
	<% end %>
</nav>